.credit-background {
  position: absolute;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  font-weight: 600;
  font-size: 1.2vw;
  bottom: 12px;
  left: 12px;
  border-radius: 10px;
  padding: 0.8vw 1vw;
}

@media (max-width: 1024px) {
  .credit-background {
    font-size: 12px;
    padding: 8px 10px;
  }
}