.timer {
  color: white;
  font-size: 32px;
  min-width: 130px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer > span {
  flex: 1;
  display: inline-block;
  text-align: center;
}