.dropdown-character-list {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #696969;
  opacity: 0.9;
  width: 250px;
  border-radius: 10px;
  cursor: auto;
}

.character-image {
  width: 70px;
  height: 70px;
  object-fit: scale-down;
}
