@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --black: #19282f;
  --orange: #ff731d;
  --green: #3a6351;
  --blue: #293462;
  --red: #b33030;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: max(100%, 660px);
  background-color: var(--black);
}

#root {
  background-color: var(--black);
}

body {
  overflow: overlay;
}

header {
  z-index: 1;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
