@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Regular.ttf") format("truetype");
}

:root {
  --black: #19282F;
  --orange: #FF731D;
  --green: #3A6351;
  --blue: #293462;
  --red: #B33030;
}

html {
  min-height: 100%;
  background-color: var(--black);
}

#root {
  background-color: var(--black);
}